<h1>Checkout</h1>

<h3>Please select your shipping address</h3>
<%= form_for(:orders, url: '/orders') do |f| %>
  <%= f.select(:address_id, @addresses) %>
  <%= f.submit "Complete Order" %>
<% end %>
